<% if user_signed_in? %>
    <h1>Estas son todas las fotos</h1>

    <% @photos.each do |photo| %>
        <%= render  "photo", photo: photo %>
    <% end %>
<% else %>
    <h1>Estos son los mejores fotografos</h1>

    <% @users.each do |user| %>
        <div>
            <%= image_tag user.profile_image %>
            <%= user.name %>
            <%= user.description %>
        </div>
    <% end %>
<% end %>